style.css

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

header {
  display: flex;
  width:100%;
}

img {
    display:flex;
    width: 100%;
}

div {
  display:block;
}

p {
  margin: 3px;
  font-size: 20px;
}

#main {
  display: flex;
}

.form {
  display: flex;
  margin: 10px;
  padding: 10px;
}

label {
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-control {
    margin-top:10px;
    
}

#weatherForm {
  display:block
}

form {
  display: block;
  margin:10px 
}

h6 {
  margin: 0;
  font-size: small;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

footer {
  border: solid black 3px;
  text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn {
    width: 100%;
    border-radius: 4px;
    background-color: #206fc2;
    color:white;
    padding:5px;

}
.btn-primary:hover {
    box-shadow: 0 10px 8px 0 rgba(55, 52, 52, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.border-box {
    background-color: lightgray;
    width: 100%;
    margin-top:10px;
    border: 2px solid black;
}
